/*
/*.launch
gradle.log
!/src/
!.gitignore
!gradlew*
!/gradle/
!/LICENSE
!/LICENSE.txt
!/README.md
!/CHANGELOG.md
!build.gradle
!settings.gradle
!/gradle.properties
!.gitattributes
!*.json
!*.gradlew
!/models/
!/images/
!*.md
*.classpath
/resources/.cache/
